.App {
  text-align: center;
}

.menu {
  padding: 10px 0 0 20px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  background-color: #5c5959;
  font-size: 20px;
}

.menu-link {
  padding-right: 20px;
  color: #b1afaf;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: white;
}

.App-block {
  padding: 20px;
  max-height: 50px;
  min-width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat {
  display: flex;
  justify-content: space-between;
}

.chat-list {
  width: 30vw;
}

.chat-list-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.chat-list-item {
  width: 60%;
  text-align: center;
}

.chat-list-delete:hover {
  color: #e16363;
}

.chat-list-add:hover {
  color: #6bb963;
}

.message-window {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  background-color: #5f5b5bb3;
}

.message-list {
  margin: 0;
  padding: 0;
  width: 70vw;
  display: flex;
  min-height: 100px;
  background-color: #5f5b5bb3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.message-me {
  padding: 0 0 10px 50px;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  flex-direction: column;
  align-items: flex-start;
}

.message-bot {
  padding: 0 30px 10px 300px;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  align-items: flex-end;
}

.message-form {
  min-height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message-form-input {
  padding: 0 0 0 20px;
  flex-grow: 6;
  border-left-style: none;
  border-right-style: none;
  background-color:#8080804d;
  border-top: #282c34;
  font-size: 22px;
}

.message-form-button {
  margin: 0;
  flex-grow: 1;
  border: none;
  background-color: #282c34;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.message-author {
  color: #253e4a;
  font-size: 20px;
}

.message-me-text {
  max-width: 300px;
  padding: 10px 40px;
  margin: -10px 0 15px 30px;
  background-color: #3e6f1d;
  color: #ced8dc;
  border-radius: 20px;
  font-size: 26x;
}

.message-bot-text {
  min-width: 100px;
  padding: 10px 20px;
  margin: -10px 30px 15px 0;
  background-color: #64884c;
  color: #ced8dc;
  border-radius: 20px;
  font-size: 26x;
}

.profile-input {
  margin-left: 20px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-text {
  font-size: 40px;
  font-weight: 700;
}